<button (click)="dataService.autoStep()">
  Auto step
</button>

<table mat-table [dataSource]="dataService.dataSource" class="mat-elevation-z8 demo-table">

  <ng-container matColumnDef="{{column.Name}}" *ngFor="let column of columnObjects">
    <td mat-cell *matCellDef="let element" class="app-chess-cell">
      <app-chess-cell [figurePosition]="element[column.Index]"></app-chess-cell>
    </td>
  </ng-container>

  <tr mat-row *matRowDef="let row; columns: columnStrings;"></tr>
</table>
