.chess-white-background{
  background-color: #fdce9e;
}

.chess-black-background{
  background-color: #d18b45;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50px;
}

div:hover{
  background-color: #90d451;
}
